[submodule "ai-notes"]
	path = ai-notes
	url = https://github.com/zhpinkman/ai-notes
[submodule "Minimax_Player"]
	path = Minimax_Player
	url = https://github.com/zhpinkman/Minimax_Player
[submodule "house-pricing-regressor"]
	path = house-pricing-regressor
	url = git@github.com:zhpinkman/house-pricing-regressor.git
[submodule "bank-churners-prediction"]
	path = bank-churners-prediction
	url = https://github.com/zhpinkman/bank-churners-prediction
[submodule "mahalanobis-distance"]
	path = mahalanobis-distance
	url = git@github.com:zhpinkman/mahalanobis-distance.git
