[submodule "ai-notes"]
	path = ai-notes
	url = https://github.com/zhpinkman/ai-notes
[submodule "Minimax_Player"]
	path = Minimax_Player
	url = https://github.com/zhpinkman/Minimax_Player
[submodule "house-pricing-regressor"]
	path = house-pricing-regressor
	url = git@github.com:zhpinkman/house-pricing-regressor.git
[submodule "bank-churners-prediction"]
	path = bank-churners-prediction
	url = https://github.com/zhpinkman/bank-churners-prediction
[submodule "mahalanobis-distance"]
	path = mahalanobis-distance
	url = git@github.com:zhpinkman/mahalanobis-distance.git
[submodule "mnist-logistic-regression"]
	path = mnist-logistic-regression
	url = git@github.com:zhpinkman/mnist-logistic-regression.git
[submodule "applied-plotting-charting-data-representation"]
	path = applied-plotting-charting-data-representation
	url = https://github.com/zhpinkman/applied-plotting-charting-data-representation
[submodule "Minmax_Player"]
	path = Minmax_Player
	url = https://github.com/zhpinkman/Minmax_Player
[submodule "searching-algorithms"]
	path = searching-algorithms
	url = git@github.com:zhpinkman/searching-algorithms.git
